<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://smalsusinfolabs.sharepoint.com/sites/Dashboard/Prashant/Ajay/Style%20Library/GetAndPost/script.js"></script>
    <title>Document</title>
</head>
<body ng-app="app" ng-controller="testCtr">
    First Name:
    <input type="text" ng-model="FirstName"><br>
    Last Name:
    <input type="text" ng-model="LastName"><br>
    Salary:
    <input type="number" ng-model="Salary"><br>
<button type="button" ng-click="update()">Submit</button>
</body>
</html>